<html>
<head>
    <link href="{{ url_for(".static", filename="css/screen.css") }}" media="screen, projection" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            background: transparent;
        }
    </style>
</head>
<body>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        window.disqus_identifier = "photo:{{ photo_id }}";
        window.disqus_url = "{{ url_for('details', photo_id=photo_id, album_id=album_id) }}";
        window.disqus_callback = function () {
            window.setTimeout(function () {
                var frame = window.parent.document.getElementById("disqus-frame");
                frame.height = window.document.body.scrollHeight;
            }, 3000);
        }
    </script>
    <script type="text/javascript" src="http://rdrei.disqus.com/embed.js"></script>
</body>
</html>
