{% extends template_base %}
{% from "macros.html" import link_attr %}
{% set menu_item = "photos" %}
{% set body_class = "ltblue" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="photo-details" class="wrapper" data-color="ltblue" data-title="{{ title }}">

    <h2>{{ title }}</h2>

    <nav>
    <a {{ link_attr("photo_album", album_id=album['id']) }} class="album">Zurück zum Album</a>
        <a href="#next" class="next">Weiter</a>
        <a href="#previous" class="prev">Zurück</a>
    </nav>
    <div class="photo-container">
        <div>
            <!-- The preview is usually in cache, so this helps. -->
            <img class="preview" src="{{ photo.url.small }}" alt="" />
            <img class="photo" src="{{ photo.url.medium }}" alt="" title="{{ photo.title }}" />
        </div>
    </div>
    <details>{{ photo.title }}</details>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        $(function () {
            window.disqus_developer = 1;
            window.disqus_identifier = "photo:{{ photo.id }}";
            if (typeof(DISQUS) !== 'undefined') {
                console.log("Reusing existing DISQUS instance.");
                DISQUS.startLoading();
            } else {
                console.log("Loading new DISQUS instance.");
                $.getScript("http://rdrei.disqus.com/embed.js");
            }
        });
    </script>
</div>
{% endblock %}
