{% extends template_base %}
{% from "macros.html" import link_attr %}
{% set menu_item = "photos" %}
{% set body_class = "ltblue" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="photo-details" class="wrapper" data-color="ltblue" data-title="{{ title }}">

    <h2>{{ title }}</h2>

    <nav>
        <a {{ link_attr("photo_album", album_id=album.id) }} class="album">Zurück zum Album</a>
        {% if next_photo %}
        <a {{ link_attr("photo_details", album_id=album.id, photo_id=next_photo.id) }} class="next">Weiter</a>
        {% else %}
        <span class="next disabled">Weiter</span>
        {% endif %}
        {% if prev_photo %}
        <a {{ link_attr("photo_details", album_id=album.id, photo_id=prev_photo.id) }} class="prev">Zurück</a>
        {% else %}
        <span class="prev disabled">Zurück</span>
        {% endif %}
    </nav>
    <div class="photo-container">
        <div>
            <!-- The preview is usually in cache, so this helps. -->
            <img class="preview" src="{{ photo.url.small }}" alt="" />
            {% if next_photo %}
            <a class="next" {{ link_attr("photo_details", album_id=album.id, photo_id=next_photo.id) }}>
                <img class="photo" src="{{ photo.url.medium }}" alt="" title="{{ photo.title }}" />
            </a>
            {% else %}
            <img class="photo" src="{{ photo.url.medium }}" alt="" title="{{ photo.title }}" />
            {% endif %}
        </div>
    </div>
    <details>{{ photo.title }}</details>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        $(function () {
            window.disqus_developer = 1;
            window.disqus_identifier = "photo:{{ photo.id }}";
            $("header nav").one('topmenucontent-visible', function () {
                if (typeof(DISQUS) !== 'undefined') {
                    DISQUS.startLoading();
                } else {
                    $.getScript("http://rdrei.disqus.com/embed.js");
                }
            });
        });
    </script>
</div>
{% endblock %}
