{% extends template_base %}
{% set menu_item="photos" %}
{% set body_class="ltblue" %}

{% block content %}
<div class="wrapper" data-color="ltblue">
    <h2>Photos</h2>

    <ul>
    {% for album in albums %}
    <li><a href="{{ url_for('photo_details', album_id=album['id']) }}">{{ album['name'] }}</a></li>
    {% endfor %}
    </ul>
    <ul class="photo-gallery">
        {% for album in range(16) %}
        <li class="watercolor">
            <a href="#">
                <em>Album Title</em>
                <img src="http://www.webdesignerwall.com/demo/decorative-gallery/images/9.jpg" alt="Album Title" />
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
