{% extends template_base %}
{% set menu_item="photos" %}
{% set body_class="ltblue" %}
{% set title="Fotoübersicht" %}
{% from "macros.html" import link_attr %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="wrapper" data-color="ltblue" data-title="{{ title }}">
    {% if g.is_admin %}
    <section class="admin-corner">
        <a href="#">Neues Album</a>
    </section>
    {% endif %}
    <h2>Photos</h2>

    <ul class="photo-gallery watercolor">
        {% for album in albums %}
        <li>
            <a {{ link_attr('photo_album', album_id=album.id) }}>
                <em>{{ album['name'] }}</em>
                <img src="http://www.webdesignerwall.com/demo/decorative-gallery/images/9.jpg" alt="Cover picture" />
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
