<!DOCTYPE html>

{%- macro get_body_class() -%}
{% if body_class is defined %} class="{{ body_class }}"{% endif %}
{%- endmacro -%}

{% macro make_menu_item(slug, endpoint, title) %}
{% set url=url_for(endpoint) %}
<li><a{% if slug == menu_item %} class="active"{% endif %} href="{{ url }}" rel="address:{{ url }}">{{ title }}</a></li>
{% endmacro %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>rdrei.net — {% block title %}Pascal Hartig{% endblock %}</title>
        <link href="{{ url_for("static", filename="css/screen.css") }}" media="screen, projection" rel="stylesheet" type="text/css" />
        <link rel="icon" href="{{ url_for("static", filename="img/favicon_large.png") }}" type="image/png" />
    </head>
    <body{{ get_body_class() }}>
        <header>
            <h1>r3</h1>
            <nav id="main-nav">
                <ul>
                    {{ make_menu_item("home", "home", "Home") }}
                    {{ make_menu_item("blog", "blog_index", "Blog") }}
                    {{ make_menu_item("photos", "photo_index", "Fotos") }}
                </ul>
            </nav>
        </header>
        <section id="content">
            <div id="ajax-endpoint">
                {% block content %}Loading ...{% endblock %}
            </div>
        </section>
        <footer>
            &copy; 2010, Pascal Hartig, rdreinet solutions
        </footer>
        <div id="loading">Loading &hellip;</div>
        {% block script %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" type="text/javascript"></script>
        <script src="{{ url_for("static", filename="js/modernizr.js") }}" type="text/javascript"></script>
        <script src="{{ url_for("static", filename="js/jquery.address.js") }}" type="text/javascript"></script>
        <script src="{{ url_for("static", filename="js/rdrei.js") }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
