{% from "macros.html" import link_attr %}
<!DOCTYPE html>

{%- macro get_body_class() -%}
{% if body_class is defined %} class="{{ body_class }}"{% endif %}
{%- endmacro -%}

{% macro make_menu_item(slug, endpoint, title) %}
{% set url=url_for(endpoint) %}
<li><a{% if slug == menu_item %} class="active"{% endif %} href="{{ url }}" rel="address:{{ url }}">{{ title }}</a></li>
{% endmacro %}

<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>rdrei.net — {% block title %}Pascal Hartig{% endblock %}</title>
        <link href="{{ url_for(".static", filename="css/screen.css") }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for(".static", filename="img/favicon_large.png") }}">
        <!-- Thanks, google! -->
        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet">
        <meta property="fb:admins" content="760511123" />
    </head>
    <body{{ get_body_class() }}>
        <header>
            <h1><a href="/" rel="address:/">r3</a></h1>
            <nav id="main-nav">
                <ul>
                    {{ make_menu_item("home", "base.home", "Home") }}
                    {{ make_menu_item("blog", "base.blog_index", "Blog") }}
                    {{ make_menu_item("photos", "photos.index", "Fotos") }}
                </ul>
            </nav>
            <ul id="global-flash">
                {% for msg in get_flashed_messages() %}
                    <li>{{ msg }}</li>
                {% else %}
                    <li></li>
                {% endfor %}
            </ul>
        </header>
        <section id="content">
            <div id="ajax-endpoint">
                <div class="wrapper" data-title="{{ title }}" data-color="{{ body_class }}">
                    {% block content %}Loading ...{% endblock %}
                </div>
            </div>
        </section>
        <footer>
        <nav>
            <ul>
                {% if not g.is_admin %}
                <li>
                    <a href="{{ url_for("admin.login") }}">Admin</a>
                </li>
                {% endif %}
                <li>
                    <a {{ link_attr("base.about") }}>Impressum</a>
                </li>
            </ul>
        </nav>
        <p>rdrei.net {{ VERSION }} - by Pascal Hartig, rdreinet solutions</p>
        </footer>
        {% include "_notify.html" %}
        <div id="loading">Loading &hellip;</div>
        {% block script %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
        {% if g.debug %}
        <script src="{{ url_for(".static", filename="js/modernizr.js") }}"></script>
        <script src="{{ url_for(".static", filename="js/jquery.address.js") }}"></script>
        <script src="{{ url_for(".static", filename="js/jquery.notify.js") }}"></script>
        <script src="{{ url_for(".static", filename="js/rdrei.js") }}"></script>
        {% else %}
        <script src="{{ url_for(".static", filename="js/rdrei.compress.js") }}"></script>
        {% endif %}
        {% if g.is_admin %}
            <script src="{{ url_for(".static", filename="js/rdrei_admin.js") }}"></script>
        {% endif %}
        {% include "_analytics.html" %}
        {% endblock %}
    </body>
</html>
