{% extends template_base %}
{% set menu_item="home" %}
{% set body_class="orange" %}

{% block content %}
<div class="wrapper" data-color="orange">
    <h2>Hello, again.</h2>
    <p>Nachdem Konzi wieder rumgejammert hat — und das nicht ganz zu
    unrecht — habe ich mich dazu durchgerungen, noch einen Neuanfang mit
    rdrei.net zu wagen. Das hier ist das erste präsentierbare Zwischenergebnis.</p>
    <p>Also nervt ruhig weiter rum, es hilft. (;</p>
    <p>
    <author>— Passy</author>
    </p>
    <iframe src="http://www.facebook.com/widgets/like.php?href=http://new.rdrei.net/"
        class="facebook-like"></iframe>
</div>
{% endblock %}
