{% extends template_base %}
{% set menu_item="home" %}
{% set body_class="orange" %}

{% block title %}Preview{% endblock %}

{% block content %}
<h2>Hello, again.</h2>
<p>Nachdem Konzi wieder rumgejammert hat — und das nicht ganz zu
unrecht — habe ich mich dazu durchgerungen, noch einen Neuanfang mit
rdrei.net zu wagen. Das hier ist das erste präsentierbare Zwischenergebnis.</p>
<p>Also nervt ruhig weiter rum, es hilft. (;</p>
<p>
<author>— Passy</author>
</p>
<iframe src="http://www.facebook.com/widgets/like.php?href=http://new.rdrei.net/"
    class="facebook-like"></iframe>
<div id="recentcomments" class="dsq-widget"><h2 class="dsq-widget-title">Recent Comments</h2><script type="text/javascript" src="http://disqus.com/forums/rdrei/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script></div><a href="http://disqus.com/">Powered by Disqus</a>
{% endblock %}
