# -*- coding: utf-8 -*-
"""
rdrei.settings
~~~~~~~~~~~~~~

Configuration file.

:copyright: 2010, Pascal Hartig <phartig@rdrei.net>
:license: GPL v3, see doc/LICENSE for more details.
"""

REDIS_HOST = "localhost"
REDIS_PORT = 6379
REDIS_DB = 0

FLICKR_USER_ID = None
FLICKR_USER_NAME = None
FLICKR_API_KEY = None
DISQUS_API_KEY = None

PHOTOS_PRELOAD_NEXT_COUNT = 5
