// Contains style definitions for photo pages

@import "compass/css3/box-shadow"
@import "compass/css3/transition"
@import "compass/css3/transform"
@import constants
@import mixins

.photo-gallery
  list-style: none
  text-align: center
  margin: 0
  padding: 0

  li
    display: inline-block

  &.watercolor
    li
      position: relative
      height: 175px
      width: 212px
      margin: 10px
      em
        // Contains the album or photo title
        width: 193px
        height: 25px
        display: block
        position: absolute
        top: 2px
        left: 2px
        padding-top: 140px
        background: transparent image_url(unquote("photomasks/watercolor-mask.png")) no-repeat
        text-align: center
      img
        padding: 14px 12px 12px 13px
        width: 170px
      a
        +nostyle-link

  &.polaroid
    li
      display: inline-block
      a
        +box-shadow(0, 3px, 6px, rgba(0, 0, 0, 0.25))
        +nostyle-link
        display: inline-block
        background: #fff
        padding: 10px
        margin: 5px

        &[title]

          &:after
            content: attr(title)

          img
            margin-bottom: 10px
            min:
              height: 180px
              width: 240px

        &:hover
          background: #fff

      img
        display: block

// ID of the wrapper containing the details page
#photo-details

  $photo_width: 500px
  $photo_height: 375px

  .photo-container
    height: $photo_height
    text-align: center
    padding: 20px
    background: rgba(255, 255, 255, 0.3)

    border:
      top: 1px solid white
      bottom: 1px solid white

    div
      width: $photo_width
      position: relative
      margin: 0 auto

    img
      position: absolute
      top: 0
      left: 0

      width: $photo_width
      height: inherit

      &.photo
        z-index: 2

      &.preview
        z-index: 1

  details
    display: block
    text-align: center

  nav
    margin-bottom: 5px
    overflow: hidden

    .album      
      float: left

    .next, .prev
      float: right
      margin-left: 10px

  iframe
    width: 100%
    background: transparent
    margin-top: 20px
